$family: Roboto;

@use "vuetify" with (
  $body-font-family: $family
);

:root {
  font-family: Roboto;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: Roboto;
  }
}

body {
  font-family: Roboto;
}

// Reset link styles
a {
  color: inherit;
  text-decoration: none;
}

.v-list-item:hover {
  background-color: #FF005C;
}

.v-list-item--active {
  background-color: #FF005C !important;
}

// Override the textfield's radius
.v-text-field {
  .v-field__outline__start {
    border-radius: 10px 0 0 10px !important;
  }
  .v-field__outline__end {
    border-radius: 0 10px 10px 0 !important;
  }
}

.v-btn {
  font-weight: 700 !important;
}
.label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 6px;
  display: inline-block;
  cursor: pointer;
}

.bs-border-bottom {
  border-bottom: 1px solid #424242 !important;
}

.bs-border-right {
  border-right: 1px solid #424242 !important;
}

.bs-bg-dark {
  background-color: rgba(33, 33, 33, 0.0) !important;
  backdrop-filter: blur(12px);
}

.bs-cursor-pointer:hover {
  cursor: pointer;
}

.bs-bg-blur {
  background: rgba(33, 33, 33, 0.56);
  backdrop-filter: blur(18px);
}
